#container{
    width:500px;
    height: 300px;
    margin: auto;
    background-color: aqua;
    padding: 20px;
    font-size: x-large;
    border: 10px solid rgb(3, 134, 134);
    border-radius: 30px;
}
h1{
    text-align: center;
}
#info,#but{
    width: 50%;
    height: 80%;
    float: left;
}
#button{
    clear: both;
    width: 100%;
    height: 20%;
    text-align: center;

}
#obl{
    width: 150px;
    height: 35px;
    background-color: rgb(0, 180, 180);
    font-size: large;
    border-radius: 30px;
}
#obl:hover{
    background-color: rgb(124, 247, 247);
}