@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,900,700italic,700,600italic,600,400italic);

* {
    font-family: "Titillium Web", cursive;
}

html,
body {
    height: 100%;
    background-color: #474973;
    text-align: center;
}

.center {
    width: 100%;
    height: 96%;
    background-color: #474973;
    padding-top: 3%;
}

.middle {
    margin: auto;
    width: 90%;
    height: 88%;
    background-color: white;
    border-radius: 60px;
    border: #2f314e solid 10px;
    overflow: hidden;
    padding: 7px;
}
a{
    text-decoration: none;
    color: black;
}
#clock{
    text-align: left;
    width: 100%;
    color: aliceblue;
    font-size: xx-large;
}
#icon{
    margin: auto;
    padding-top: 50px;
    text-align: center;
    border-radius: 50px;
    float: left;
    background-color: #767ab4;
    width: 350px;
    height: 350px;
    margin-left: 80px;
    transition: 0.5s;
}
#icon:hover{
    color: rgb(99, 98, 98);
    background-color: #a4a8e2;
}
.both{
    margin: auto;
    margin-top: 10%;
    width: 65%;
    height: 60%;
}
h1{
    font-weight: bold;
}