@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,900,700italic,700,600italic,600,400italic);

* {
    font-family: "Titillium Web", cursive;
    text-align: center;
}

html,
body {
    height: 100%;
    background-color: #474973;
}

html {
    overflow: hidden;
}

.center {
    width: 100%;
    height: 96%;
    background-color: #474973;
    padding-top: 3%;
}

.middle {
    margin: auto;
    width: 90%;
    height: 88%;
    background-color: white;
    border-radius: 60px;
    border: #2f314e solid 10px;
    overflow: hidden;
    padding: 15px;
    font-size: medium;
}

#arr {
    font-size: 50px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 10px;
    transition: 0.5s;
    border: 0;
}

i:hover {
    background-color: #a1a5eb;
}

.progress {
    margin: 10px;
    width: 30%;
    background-color: #474973;
    float: right;
}

#com {
    font-size: larger;
    margin: 2px;
    float: right;
    color: wheat;
}

.icons {
    text-align: center;

}

.bar {
    text-align: center;
}

.left {
    width: 40%;
    float: left;
    height: 100%;
    border-radius: 50px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: #474973 solid 5px;
    padding: 15px;
    overflow: auto;
}

.right {
    float: left;
    width: 60%;
    height: 100%;
    border-radius: 50px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 15px;
    border-left: #474973 solid 5px;
    overflow: auto;
}

.slide {
    width: 100%;
    height: 100%;
}

h4,
h3 {
    text-align: left;
}

li {
    text-align: left;
    padding: 6px;
}

.but {
    width: 270px;
    height: 50px;
    font-size: larger;
    border: none;
    transition: 0.5s;
    background-color: #575b92;
    border-radius: 50px;
}

.but:hover {
    background-color: #8f93c7;
    color: rgb(197, 191, 191);
}

.content {
    height: 90%;
    width: 100%;
}

footer {
    text-align: right;
    clear: both;
    height: 10%;
    width: 100%;
}
.cont{
    font-size: xx-large;
}