@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,900,700italic,700,600italic,600,400italic);

* {
    font-family: "Titillium Web", cursive;
    text-align: center;
}
html,
body {
    height: 100%;
    background-color: #474973;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.center {
    width: 100%;
    height: 96%;
    background-color: #474973;
    padding-top: 3%;
}

.middle {
    text-align: center;
    font-size: xx-large;
    margin: auto;
    width: 80%;
    height: 88%;
    background-color: white;
    border-radius: 60px;
    border: #2f314e solid 10px;
    overflow: hidden;
}
h3{
    text-align: center;
    padding-top: 30px;
    padding: none;
}
footer{
    color: red;
    text-align: center;
    width: 80%;
    height: 25%;
    position: absolute;
    bottom: 0;
     
}
.quest{
    float: left;
    width: 100%;
    height: 80%;
}
input{
    height: 30px;
    width: 30px;
    margin: 10px;
}
.button{
    width: 200px;
    height: 100px;
    font-size: larger;
    border: none;
    transition: 0.5s;
    background-color:  #454872;
    border-radius: 30px;
    
}
.button:hover{
    background-color: #8f93c7;
    color: rgb(197, 191, 191);
} 
.wyniki{
    z-index: 9;
    width: 100%;
    height: 100%;
}
.ans{
    font-size: 33px;
    width: 90%;
    height:60%;
    margin: auto;
    text-align: left;
    padding: 20px;
}

