#container{
    width: 600px;
    height: 600px;
    margin: auto;
    opacity: 0.7;
}
#info{
    width: 100%;
    height: 20%;
}
#plansza{
    width: 100%;
    height: 80%;
}
table,td{
    border: 2px solid black;
    border-collapse: collapse;
}
td{
    width: 200px;
    height: 200px;
}
td:hover{
    background-color: aliceblue;
}