@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,900,700italic,700,600italic,600,400italic);
body{
    font-family: "Titillium Web", cursive;
}
#container{
    
    font-size: x-large;
    border: 5px solid rgb(94, 189, 157);
    margin: auto;
    margin-top: 200px;
    width: 430px;
    height: 400px;
    background-color: aquamarine;
    padding: 10px;
}
#rgb,#Hex{
    float: left;
    width: 100%;
    height: 50%;
}
#info{
    float: left;
    width: 50%;
}
input{
    box-shadow: 5px 5px 10px rgb(62, 61, 61);
    margin: 5px;
}
#wynik{
    text-align: center;
    width: 50%;
    height: 50%;
    float: left;
}
hr{
    color: black;
}
.but{
    box-shadow: 5px 5px 10px rgb(62, 61, 61);
    font-size: large;
    height: 30px;
    width: 80px;
}