body{
    font-family: Garamond;
    background-color: rgb(30, 144, 255);
    color: white;
}
.one,.three{
    width: 25%;
    height: 200px;
    float: left;
}
.two{
    text-align: center;
    width: 50%;
    height: 200px;
    font-size: 250%;
    float: left;
}
#container{
    background-color: rgb(0, 0, 128);
    padding: 60px;
    text-transform: uppercase;
    float: left;
    width: 100%;
}

.fot_one{
    width: 50%;
    text-align: center;
    float: left;
}
.fot_two{
    width: 50%;
    text-align: right;
    padding-top: 100px;
    float: left;
}
p{
    padding: 20px;
    font-size: 200%;
    border: 1px solid rgb(192, 192, 192);
}
p:hover{
    background-color:rgb(192, 192, 192) ;
}
table{
    width: 100%;
    border-collapse: collapse;
}
td,tr{
    border: 1px solid rgb(192, 192, 192);
    padding: 10px;
}