body{
    background-color: #f9e7d4;
}
#contener{
    margin: auto;
    width: 1300px;
    height: 740px;
    border-radius: 30px;
    background: linear-gradient(#66ccff, #FFFD99 90%);
}
#naglowek{
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight:lighter;
    width: 100%;
    height: 10%;
}
#lewy{
    border-right: 1px solid rgb(0, 81, 255);
    width: 49%;
    height: 72%;
    float: left;
    text-align: center;
    color: darkblue;
}
#color{
    margin: auto;
    text-align: center;
    color: black;
     border-spacing: 0,5mm;

}
#przycisk{
    height: 40px;
    background-color: rgb(34, 0, 128);
    color: white;
}
#prawy{
    float: left;
    width: 50%;
    height: 72%;
    text-align: center;
}
#srodek{
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 13%;
    background-color: white;
    width: 90%;
    height: 80%;
}
#tabela{
    color: rgb(34, 0, 128);
    text-align: center;
    font-size: 30px;
    margin: auto;
    font-weight: bolder;
}
#tabelka{
    border-spacing: 5px;
    margin: auto;
    text-align: center;
    color: rgb(34, 0, 128);

}
#zdjecia{
    height: 180px;
    width: 190px;
    border-radius: 10px;
}
#footer{
    text-align: center;
height: 10%;
width: 100%;
clear: both;
}
#logo{
    height: 140px;
}