@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,900,700italic,700,600italic,600,400italic);

body {
  font-family: "Titillium Web", cursive;
  width: 800px;
  margin: auto;
  text-align: center;
  color: white;
  background: rgb(66, 66, 66);
  font-weight: 100;
}

div {
  display: inline-block;
  line-height: 1;
  padding: 20px;
  font-size: 40px;
}

span {
  display: block;
  font-size: 20px;
  color: white;
}

#days {
  font-size: 100px;
  color: rgb(214,0,28);
}
#hours {
  font-size: 100px;
  color: rgb(0,135,62);
}
#minutes {
  font-size: 100px;
  color: rgb(214,0,28);
}
#seconds {
  font-size: 50px;
  color: rgb(0,135,62);
}
img{
  height: 100px;
}