#contener{
    width: 1400px;
    height: 600px;
    margin: auto;
    text-align: center;
}
#banner{
    height: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: white;
    background-color: #212121;
}
#photos{
    background-color: #757575;
}
#data{
    height: 80px;
    padding-top: 20px;
    background-color: #dddddd;
}
#opis{
    padding-top: 20px;
}
table{
    width: 100%;
    height: 400px;
    text-align: center;
    margin: auto;
    table-layout: fixed;
    border-spacing: 15px;
}
td{
    border: #212121 4px solid;
    border-radius: 10px;
    padding: 5px;
    text-align: justify;
    vertical-align: top;
}
h2{
    text-align: center;
    color: #2f00fe;
    font-weight: bold;
}