body{
background-color: grey;
 font-family: Georgia, 'Times New Roman', Times, serif;
}
#contener{
    width: 900px;
    height: 660px;
    margin: auto;
}
#lewy{
    float: left;
    margin: auto;
    width: 30%;
    height: 620px;
    background-color: maroon;
    color: white;
}
#prawy{
    overflow: auto;
    float: left;
    width: 70%;
    height: 620px;
    background-color: maroon;
    color: white;
}
img{
    margin-left: 2px;
    padding: 10px;
    border-style: solid;
    border-color: white;
    border-radius: 1px;
    float: left;
}
ul{
    float: left;
}
p {
    margin: 0;
    padding: 10px;
    clear: both;
}
footer{
    width: 100%;
    height: 20px;
    clear: both;
    background-color: DimGray;
    color: white;
}