body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("gory.jpg");
    background-repeat: no-repeat;
}
#container{
    width: 70%;
    margin: auto;
}
#banner{
    height: 10%;
    text-align: center;
    font-size: 40px;
    color:  #CC0000;
    word-spacing: 10px;
}
#left,#right{
    width: 15%;
    text-align: center;
    float: left;
}
#middle{
    width: 70%;
    text-align: justify;
    color: white;
    float: left;
}
h1{
    color:  #CCFFFF;
    font-size: 20px;
}
h3{
    color: #CC0000;
    text-decoration: underline;
}
h4{
    color:  #FF6600;
}
img{
    height: 170px;
    width: 120px;
    margin-bottom: 10px;
}