@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,900,700italic,700,600italic,600,400italic);
body{
    background-color: rgb(196, 196, 196);
    font-family: "Titillium Web", cursive;
}
#container{
    margin: auto;
    width: 600px;
    height: 900px;
    background-color: antiquewhite;
    box-shadow: 5px 8px 10px black;
    border-radius: 20px;
}
ul{
    list-style-type: none;
    margin: 0;
}
#banner{
    width: 100%;
    height: 30%;
    background: linear-gradient( rgba(0,0,0,0.2), rgba(0, 0, 0, 0.2) ),url("background.jpg") no-repeat;
    text-align: center;
    border-radius: 20px;
}
h1{
    font-size: 60px;
}
#drinks{
    padding: 20px;
}
#search{
    border: 2px solid black;
    width: 400px;
    height: 40px;
    border-radius: 20px;
    margin-bottom: 10px;
}
#search:hover{
    background-color: rgb(241, 237, 237);
}
a{
    text-decoration: none;
    color: #000;
    display: block;
}
li,ul{
    display: block;
}
