body{
background-color: aliceblue;
}
.conteiner{
    width: 900px;
    height: 400px;
    background-color: antiquewhite;
    margin: auto;
}
.left{
    width: 300px;
    height: 100%;
    background-color: aquamarine;
}
#display{
    width: 100%;
    height: 20px;
    background-color: aliceblue;
    border-radius: 5px;
}

table{
    width: 90%;
    margin: 10px;
}
