@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,900,700italic,700,600italic,600,400italic);

body {
  font-family: "Titillium Web", cursive;
}
#container{
    margin: auto;
    width: 650px;
    height: 750px;
    background-color: rgb(241, 210, 32);
    border: 10px solid rgb(16, 156, 16);
}
#banner{
    background-color: darkgreen;
    color: white;
    width: 100%;
    height: 12%;
    padding-top: 5px;
    text-align: center;
    border-bottom: 10px solid rgb(16, 156, 16);

}
#middle{
    padding-bottom: 8px ;
    background-color: palegreen; 
    width: 100%;
    height: 85%;
    text-align: center;
    font-size: 500%;
}
button{
    background-color: darkgreen;
    padding: 5px;
    font-size: 100%;
    width: 50%;

}
a{
    color: white;
    text-decoration: none;
}