@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,900,700italic,700,600italic,600,400italic);
  .body {
    font-family: "Titillium Web", cursive;
    width: 100%;
    height: 1400px;
    box-sizing: border-box;
    background-color: #77DD77;
  }