*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
footer,#banner{
    background-color: rgb(120, 0, 46);
    color: white;
    padding: 5px;
    font-size: 150%;
}
#menu{
    background-color: rgb(173, 20, 87);
    text-align: left;
}
#left{
    float: left;
    background-color: snow;
    color: olivedrab;
    width: 60%;
    height: 322px;
    text-align: left;
}
#right{
    float: left;
    background-color: rgb(173, 20, 87);
    width: 40%;
    height: 322px;
}
#auto{
    margin: 40px;
    padding: 10px;
}
#auto:hover{
border: 1px dotted yellowgreen;
}
a{
    padding-top: 0;
    padding-left: 50px;
    padding-right: 50px;
    color: yellowgreen;
}
table,td{
    border: 1px solid olivedrab;
}
table{
    width: 90%;
}