@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,900,700italic,700,600italic,600,400italic);
body{
    font-family: "Titillium Web", cursive;
}
@media(min-width:1200px) {
    #container{
        margin: auto;
        width: 1100px;
        height: 600px;
    }
    a{
        text-decoration: none;
        color: black;
    }
    #clock{

        font-size: xx-large;
    }
    #container{
        margin: auto;
        width: 1100px;
        height: 400px;
        background-color: #e77b7b;
    }
    table, td{
        border: 5px solid #fdb0b0;
        border-collapse: collapse;
    }
    table{
        margin: auto;
        width: 100%;
    }
    th{
        text-align: center;
    }
    td, th {
        font-size: 40px;
        height: 12%;
        width: 20%;
        padding-top: 20px;
        padding-bottom: 20px;
        clear: both;
    }
    .plan{
        width: 20%;
        height: 88%;
        float: left ;
        font-size: 25px;
    }
    ol{
        
        margin: 0;
    }
}   