@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,900,700italic,700,600italic,600,400italic);
.body {
  font-family: "Titillium Web", cursive;
  width: 100%;
  height: 1400px;
  box-sizing: border-box;
  background-color: #77DD77;
}
@keyframes fade {
  from {
    opacity: 4
  }

  to {
    opacity: 2
  }
}

@media(min-width:1200px) {
  #slideshow-container {
    float: right;
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  .mySlides {
    display: none;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 2.5s;
  }
  
  img {
    float: right;
    width: 600px;
    height: 320px;
    border-radius: 100px;
  }

  .banner {
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(26, 188, 208, 1) 50%, rgba(255, 255, 255, 1) 100%);
    margin: auto;
    text-align: center;
    padding: 10px;
    width: 1200px;
    height: 350px;
  }

  .back {
    width: 70%;
    height: 800px;
    background-color: rgb(247, 233, 207);
    margin: auto;
    box-shadow: 20px 20px 10px rgb(62, 61, 61);
    padding-top: 40px;
    border-radius: 10px;
  }

  .info {
    padding: 10px;
    background-color: #F1E367;
    border: 10px solid #fedb48;
    border-radius: 35px;
    width: 750px;
    height: 700px;
    margin: auto;
  }

  td {
    width: 300px;
    height: 100%;
  }
}