@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,900,700italic,700,600italic,600,400italic);
body{
    font-family: "Titillium Web", cursive;
}
@media(min-width:1200px) {
    #container{
        float: left;
        width: 1100px;
        height: 700px;
    }
    #left_top,#left_bottom{
        margin: auto;
        padding-top: 50px;
        text-align: center;
        border-radius: 50px;
        float: left;
        background-color: #f55454;
        width: 400px;
        height: 350px;
    }
    #right_top,#right_bottom{
        margin: auto;
        padding-top: 50px;
        text-align: center;
        border-radius: 50px;
        float: right;
        background-color: #f55454;
        width: 400px;
        height: 350px;
    }
    #space{
        clear: both;
        width: 100%;
        height: 100px;
    }
    #left{
        float: left;
        width: 400px;
        height: 700px;
    }
    #right{
        float: left;
        width: 200px;
        height: 700px;
    }
    a{
        text-decoration: none;
        color: black;
    }
    #clock{

        font-size: xx-large;
    }
}