body {
  font-family: garamond;
}
header,
footer {
  background-color: #3cb371;
  color: white;
  padding: 10px;
  font-size: 130%;
  text-align: center;
}
#left {
  background-color: #faebd7;
  width: 55%;
  height: 450px;
  float: left;
}
#right {
  background-color: #faebd7;
  width: 45%;
  height: 450px;
  float: left;
}
img {
  padding: 3px;
  margin: 15px;
  border: 2px dashed #3cb371;
}
