@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,900,700italic,700,600italic,600,400italic);

body {
    width: 100%;
    height: 100%;
  font-family: "Titillium Web", cursive;
}
.panel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 332px;
    width: 400px; 
    padding: 15px 0 0;
    background: #fff;
    border: 1px solid silver;
    letter-spacing: -1px;
    -webkit-box-shadow: 0 0 2px silver; 
    -moz-box-shadow: 0 0 2px silver; 
    box-shadow: 0 0 2px silver;
    }
form {
    margin: 0;
}
label {
    display: block;
    width: 260px;
    padding: 10px 20px;
    color: #696969;
    font-size: 16px;
    text-shadow: 0 0 1px silver;
}
.username, .password {
    display: block;
    width: 360px; 
    margin: 0 auto;
    padding: 10px 5px;
    border: 1px solid silver;
    outline: 5px solid #ebebeb;
    font-size: 22px;
}
.username:focus, .password:focus {
outline: 5px solid #e5f2f8;
}
.lower {
    background: #ecf2f5;
    width: 360px;
    padding: 5px 20px;
    margin-top: 20px;
}
input[type="submit"] {
    width: 70px;
    padding: 5px 13px;
    border: 1px solid #005f85;
    color: white;
    text-shadow: 0 0 1px black;
    background: #98c9dc;
    position: relative;
    left: 180px;
}
.panel, input[type="submit"] {
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
}
h1{
    color: #696969;
    text-align: center;
}
img{
    width: 200px;
    height: 200px;
}
.logo{
    width: 10%;
    height: 20%;
    margin: auto;
}