@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,900,700italic,700,600italic,600,400italic);

body {
  font-family: "Titillium Web", cursive;
  width: 100%;
  height: 1400px;
  box-sizing: border-box;
  background-color: #77DD77;
}

.slideshow-container {
  float: right;
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.fade {
  animation-name: fade;
  animation-duration: 2.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

img {
  float: right;
  width: 600px;
  height: 320px;
  border-radius: 100px;
}

.container {
  width: 70%;
  height: 90%;
  margin: auto;
}

.banner {
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(26,188,208,1) 50%, rgba(255,255,255,1) 100%);
  margin: auto;
  text-align: center;
  padding: 10px;
  width: 85%;
  height: 25%;
}

.section {
  text-decoration: none;
  text-align: center;
  background-color: #732ce4;
  width: 100%;
  height: 6%;
  padding-top: 1px;
  box-shadow: 10px 10px 8px rgb(67, 67, 67);
  border-radius: 20px;
}
a{
  text-decoration: none;
  color: white;
}
h1::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}
h1:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
h1:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

h1::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: rgb(142, 142, 241);
  opacity: 0.5;
  z-index: 1;
  transition: transform .3s ease;
}

h1 {
  position: relative;
}

@media (orientation: landscape) {
  body {
    grid-auto-flow: column;
  }
}
.back{
  width: 100%;
  height: 800px;
  background-color: rgb(247, 233, 207);
  margin: auto;
  box-shadow: 20px 20px 10px rgb(97, 97, 97);
  padding-top: 40px;
  border-radius: 10px;
}
.info{
  padding: 10px;
  background-color: #F1E367;
  border: 10px solid #fedb48;
  border-radius: 35px;
  width: 90%;
  height: 90%;
  margin: auto;
}
td{
  text-decoration: none;
  width: 17%;
  height: 100%;
}