@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,900,700italic,700,600italic,600,400italic);
body{
    font-family: "Titillium Web", cursive;
}
#container{
    border: 10px solid blue;
    border-radius: 20px;
    background-color: rgb(173, 221, 255);
    width: 420px;
    height: 460px;
    margin: auto;
    margin-top: 100px;
    padding-top: 20px;
}
#content{
    padding-top:20px ;
    margin: auto;
    height: 90%;
    width: 90%;
    text-align: center;
}
table{
    margin: auto;
   padding-top: 20px;
}
input{
    margin: 1px;
    border-radius:15px ;
    height: 45px;
    width: 75px;
    font-size: x-large;
    background-color: #ecf0f1;
    box-shadow: 5px 5px 10px rgb(62, 61, 61);
}
input:hover{
    background-color: #cacecf;
}

#equal{
    background-color: #0086ff;
    height: 100px;
}
#equal:hover{
    background-color: #0271d2;
}
#wynik{
    box-shadow: 5px 5px 10px rgb(62, 61, 61);
    border-radius: 20px;
    text-align: right;
    font-size: xx-large;
    background-color: #bfe0fe;
    margin: auto;
    padding-right: 10px;
    padding-top: 10px;
    width: 94%;
    height: 11%;
    border: 2px solid black;
    word-break: break-all;
}
#C{
   background-color: red; 
}
#C:hover{
    background-color: rgb(183, 2, 2); 
}
.operator{
    background-color: #9acdff;
}
.operator:hover{
    background-color: #7fa9d3;
}